# Get free keys at:
# Alpaca paper trading: https://alpaca.markets  (click "Create Account" → Paper Trading)
# Alpha Vantage:        https://www.alphavantage.co/support/#api-key

ALPACA_API_KEY=your_alpaca_api_key_here
ALPACA_SECRET_KEY=your_alpaca_secret_key_here
ALPHAVANTAGE_API_KEY=your_alphavantage_api_key_here
